@import "common.css";
@import "navbar.css";

/* LG - XL */
@media (min-width: 992px) {
    .mission {
        position: absolute;
        top: 50%;
        left: 0;

        transform: translateY(-50%);

        padding-left: 45px;
    }
}

/* XS - SM */
@media (max-width: 767.98px) {
    .fluid-block {
        width: 100%;
    }
}
