@import "common.css";
@import "navbar.css";

.main-pic-container {
    position: relative;
    padding: 0;
}

@media (min-width: 992px) {
    .proj-container:nth-child(odd) {
        padding-right: 50px;
    }
    .proj-container:nth-child(even) {
        padding-left: 50px;
        margin-top: -20px;
    }
}

.proj-container>a {
    display: block;
    color: black;
}

.proj-container:focus>a,
.proj-container:active>a,
.proj-container:hover>a {
    color: black;
    text-decoration: none;
}

.proj-container figure,
.proj-container img {
    transition: all 0.5s ease;
    position: relative;
}

.proj-container:focus img,
.proj-container:active img,
.proj-container:hover img {
    transform: scale(1.1);
}

.proj-container:hover figure {
    transform: scale(0.97);
}

.proj-container.locked figure::before {
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease;
}

.proj-container.locked:hover figure::before {
    background-color: #5e5e5e81;
}

.proj-container.locked figure::after {
    z-index: 3;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/lock.svg');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.proj-container.locked:hover figure::after {
    opacity: 1;
}

.image {
    width: 100%;
    line-height: 0;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

@media (min-width: 768px) {
    .b-primary.fix, .b-secondary.fix {
        width: 200px;
        margin-right: 30px;
    }
}